<h1>Information</h1>
<a href='/homePage'>Back</a>
<h1 style="color:red">{{cow.type.name}}</h1>
<h2 name="eartag">Ear Tag Number: {{cow.eartag}}</h2>
<p>Sire Ear Tag: {{cow.sireId}}</p>
<p>Dam Ear Tag: {{cow.damId}}</p>
<p>Description:{{cow.description}}</p>
<p>Image</p>
<p>DOB {{cow.dob}}</p>
<p>Calving History</p>
<table>
    <tr>
        <th>Calf ID</th>
        <th>DOB</th>
        <th>Sex</th>
        <th>Notes</th>
    </tr>
    {{#each calves as |calf| }}
    <tr>
        <td><a href = '/cowPage/{{calf.cowId}}'>{{calf.eartag}}</a></td>
        <td>{{calf.dob}}</td>
        <td>{{calf.type.name}}</td>
        <td>{{calf.birthing}}</td>
    </tr>
    {{/each}}
</table>
<a href = '/addCow/{{cow.eartag}}'>Add cow</a>
<p>Health History</p>
<table>
    <tr>
        <th>Date</th>
        <th>Drug</th>
        <th>Reason</th>
        <th>Withdrawal Period</th>
    </tr>
    {{#each cow.treatments as |treatment| }}
    <tr>
        <td>{{treatment.givendate}}</td>
        <td>{{treatment.drug.name}}</td>
        <td>{{treatment.notes}}</td>
        <td>{{treatment.drug.withdrawalperiod}} days --> {{treatment.withdrawaldate}}</td>
    </tr>
    {{/each}}
</table>
