<div class="flex-horizontal">
    <h1 class="greedy-flex">Home Page</h1>
    <div class="flexless">
        <strong><span class="glyphicon glyphicon-user"></span> {{username}}</strong>
        <a href="/logout">(Logout)</a>
    </div>
</div>
{{#if errorInput}}
    <div class="alert alert-danger">{{errorInput}}</div>
{{/if}}
<form method="GET" action="/homePage" class="well">
    <div class="flex-horizontal">
        <div class="form-group">
            <label for="searchType">Search Type</label>
            <select id="searchType" class="form-control" name="searchType">
                <option value="eartag">eartag</option>
                <option value="description">description</option>
            </select>
        </div>
        <div class="form-group">
            <label for="searchWord">Search Word</label>
            <input id="searchWord" class="form-control" type="search" name="searchWord">
        </div>
    </div>
    {{#each types as |type|}}
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="type" value={{type.typeId}}>
                    {{type.name}}
                </label>
            </div>
        </div>
    {{/each}}
    <button class="btn btn-primary" type="submit">
        <span class="glyphicon glyphicon-search"></span>
        Search
    </button>
    <a class="btn btn-default" href="/homePage">Show All Cows</a>
</form>
<table class="table table-striped">
    <tr>
        <th>Tag Number</th>
        <th>Description</th>
        <th>Type</th>
    </tr>
    {{#each cows as |cow| }}
    <tr>
        <td><a href = '/cowPage/{{cow.cowId}}'>{{cow.eartag}}</a></td>
        <td>{{cow.description}}</td>
        <td>{{cow.type.name}}</td>
    </tr>
    {{/each}}
</table>
<a class="btn btn-success" href="/addCow/dam">
    <span class="glyphicon glyphicon-plus"></span>
    Add Cow
</a>
<a class="btn btn-success" href="/treatment">
    <span class="glyphicon glyphicon-plus"></span>
    Add Treatment
</a>
<a class="btn btn-primary" href="/drugs">
    <span class="glyphicon glyphicon-list-alt"></span>
    View medicines
</a>