<a href="/logout">Logout</a>
<h2>Hello {{username}}</h2>
<h1>Home Page</h1>
{{errorInput}}
<form method="GET" action="/homePage" id="myForm">
<select name="searchType">
    <option value="eartag">eartag</option>
    <option value="description">description</option>
</select>

    <input type="search" name="searchWord">
    <input type="submit" value="Search">
</form>
<form method="GET" action="/homePage">
    {{#each types as |type|}}
        <input type="checkbox" name="type" value={{type.typeId}}>{{type.name}}<br>
    {{/each}}
    <input type="submit" value="Search">
</form>
<a href="/homePage" >All cows</a>
<table>
    <tr>
        <th>Tag Number</th>
        <th>Description</th>
        <th>Type</th>
    </tr>
    {{#each cows as |cow| }}
    <tr>
        <td><a href = '/cowPage/{{cow.cowId}}'>{{cow.eartag}}</a></td>
        <td>{{cow.description}}</td>
        <td>{{cow.type.name}}</td>
    </tr>
    {{/each}}
</table>
<a href='/addCow/dam'>Add Cow</a>
<a href='/treatment'>Add Treatment</a>

<form method="POST" action="/druglist">
    <button type="submit" >View medicines</button>
</form>
